# Global ignores
*.o
*.class
*~
*.d
*.a
*.so
*.rdb
*.oxt
*.jj
*.pyc
moc_*.cpp
*.d.*

/c/ooASML/com/*
/c/ooASML/org/*
/java/ecm/*
/java/ecm_111122*

/java/jamaica/src/com/judoscript/jamaica/jjt/jamaica.jj
/java/jamaica/src/com/judoscript/jamaica/parser/JJTJamaicaParserState.java
/java/jamaica/src/com/judoscript/jamaica/parser/JamaicaParser.java
/java/jamaica/src/com/judoscript/jamaica/parser/JamaicaParserConstants.java
/java/jamaica/src/com/judoscript/jamaica/parser/JamaicaParserTokenManager.java
/java/jamaica/src/com/judoscript/jamaica/parser/JamaicaParserTreeConstants.java
/java/jamaica/src/com/judoscript/jamaica/parser/JamaicaParserVisitor.java
/java/jamaica/src/com/judoscript/jamaica/parser/JavaCharStream.java
/java/jamaica/src/com/judoscript/jamaica/parser/Node.java
/java/jamaica/src/com/judoscript/jamaica/parser/ParseException.java
/java/jamaica/src/com/judoscript/jamaica/parser/Token.java
/java/jamaica/src/com/judoscript/jamaica/parser/TokenMgrError.java

